=semantic_form_for @site_setting do |form|
  =form.inputs do
    =form.input :value, :as => :select, :collection => %W(YES NO), :label => @site_setting.name.humanize, :include_blank => false
  =form.buttons