.span8
  %h1 Where's the unicorn been?
.span10
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th Venue
        %th Category
        %th Here now
        %th Arrival time
        %th Event
    %tbody
      -@visits.each_with_index do |visit,idx|
        %tr
          %td
            =link_to(visit.venue.name,visit.venue.fs_url, :target => "_blank")
            -if idx.zero?
              %span.label.label-warning Here now
          %td.categories
            -if visit.venue.primary_category
              =image_tag(visit.venue.primary_category.icon_url)
              =visit.venue.primary_category.name
          %td=visit.here_now
          %td=visit.arrived_at.strftime('%H:%M on %a %e %B %G')
          %td=visit.event.try(:name)
  =will_paginate @visits
  