.span8.hidden
  %h1 iPhone
.span10
  #iphone
    -if @visits.present?
      #first-venue
        -visit = @visits.shift
        =truncate((visit.event && visit.event.name.present? ? visit.event.name : visit.venue.name), :length => 27)
      %ul.unstyled#other-venues
        -@visits.each do |visit|
          %li=truncate((visit.event && visit.event.name.present? ? visit.event.name : visit.venue.name), :length => 27)
