:javascript
  $(document).ready(function() {
    $.localScroll();
  })
#main.container
  #header.row
    .span10
      %h1#logo.fade_in
        =link_to "Chase the Unicorn", "/#home_box"
      #top_nav.fade_in.fade_two
        %ul.lst              
          %li=link_to "Twitter", "http://twitter.com/sxswunicorn"
          %li=link_to "Facebook", "#"
          %li=link_to "Contact", "#contact_box"
          %li=link_to "FAQ", "#faq_box"
    #left_nav.span2.fade_in.fade_two
      %ul.nav.lst
        %li=link_to "Home", "#home_box"
        %li=link_to "Get started", "#get_started_box"
        %li=link_to "Relax", "#relax_box"
  #home_box.scroll_box.row.fade_in.fade_four
    .left_text.span4.offset2
      %p
        Ever been at SXSW and taunted by the elusive unicorn, sowing its seed of doubt as to whether you are at the best party or venue? Have you tried to chase the unicorn, foolishly dashing all night from one place to the next?
      %p.home_paragraph_two
        Well, here’s the answer to your woes. Now you can track the unicorn, letting it magically lead you to where the best party is currently happening.
  #get_started_box.scroll_box.row.fade_in.fade_four
    .left_text.span4.offset2
      %h1 Get started          
      %p
        Simply open up the app and head and watch the magic unfold.
      %p  
        Using mysterious algorithms powered by evil trolls, the app will tell you where the Unicorn currently is located, and where it’s been previously sighted
      %p  
        Touch the refresh button to get live updates!         
  #relax_box.scroll_box.row.fade_in.fade_four
    .left_text.span4.offset2
      %h1 Relax          
      %p
        Touch the location to reveal the map and head for where the unicorn’s at. Let the waterfall of tranquility wash over you as you enjoy your evening knowing you’re having a cooler time than everybody else.
      %p  
        Don’t forget to check-in on Foursquare otherwise it didn’t happen.
  #faq_box.scroll_box.row.fade_in.fade_four
    .left_text.span4.offset2
      %h1 FAQ
      %p
        Q: Why did you make this app?
        %br
        A: Why not?
      %p  
        Q: Can I ask you another question?
        %br
        A: You just did.            
      %p  
        Q: I have a great idea! How do I contact you.
        %br
        A: Click on the contact link above
  #contact_box.scroll_box.row.fade_in.fade_four
    .left_text.span4.offset2
      %h1 Contact
      %p
        Yoomee
        %br
        Electric Works
        %br
        Sheffield Digital Campus
        %br
        Sheffield S1 2BJ
        %br
        Tel: +44 (0) 114 286 6228
        %br
        twitter.com/yoomeehq
        %br
        facebook.com/yoomeehq
        %br
        email: unicorn@yoomee.com
      
      
  
=#yield
#footer
  #footer_inner.container
    .row
      .footer_box.span3
        %h2 Share this
        %ul.share_buttons.unstyled
          %li#twitter_share
            :plain
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="sxswunicorn" data-text="I'm chasing the unicorn">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          %li#facebook_share
            %iframe{:src => "//www.facebook.com/plugins/like.php?href&send=false&layout=button_count&width=100&show_faces=false&action=like&colorscheme=light&height=21", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:100px; height:21px;", :allowTransparency => "true"}
          %li#google_share
            %div{:class => "g-plusone", :"data-size" => "medium"}
            :javascript
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
      .footer_box.span3
        %h2 Keep posted
        %p
          Sign up for email updates.
        .email_signup_box  
          %form.inline-form{:action => "http://yoomee.us4.list-manage1.com/subscribe/post?u=dcc2fe4f7e39b75c1f46f5321&id=5ab708bff3", :method => "post", :target => "_blank"}
            %input.input-medium{:type => "text", :name => "EMAIL"}
            %button.btn{:type => "submit", :name => "subscribe"}
              Go
      .footer_box.span3.offset1
        %h2#free_iphone_app Free iPhone App!
        =link_to "available on the App Store", "#", :id=>"app_store_link"            
#fb-root