.container
  .row
    .span12.offset2
      #video_wrapper
        #video.hide
          %iframe{:width => 700,  :height => 395, :src => "http://www.youtube.com/embed/r8WT_ZCUmaY?wmode=opaque&version=3&autohide=1&showinfo=0", :frameborder => 0, :allowfullscreen => true, :allowtransparency => true}
      #send_socks_info.info_box.hide
        %h3.info_box_title SEND YOUR SOCKS
        .send_socks_info
          %p
            Amnesty International is running a big campaign calling on Mexico to protect migrants. But we also know that small things can make a big difference.
          %p  
            On the jounery, untreated blisters & infected feet don’t just hurt, they can put your life at risk.
        =link_to("Close x", "#", :class => "close_info_box")
      #buy_socks_info.info_box.hide
        %h3.info_box_title BUY SOME SOCKS
        .send_socks_info
          %p
            Amnesty International is running a big campaign calling on Mexico to protect migrants. But we also know that small things can make a big difference.
          %p  
            On the jounery, untreated blisters & infected feet don’t just hurt, they can put your life at risk.
        =link_to("Close x", "#", :class => "close_info_box")
    .span2
      #share_this
        %h3 Share
        %h2 this
        %ul.unstyled
          %li=twitter_share
          %li=facebook_share
          %li=google_share

  .row#calls_to_action
    #send_and_buy.span7.offset2    
      %h2#send_socks.call_to_action
        =link_to "Send your socks", "#"
      %h2#buy_socks.call_to_action
        =link_to "Buy some socks", "#"
    .span5
      %h3#find_out_more.call_to_action
        =link_to "http://www.youtube.com/user/invisiblesfilms", :id=>"find_out_more_link", do
          %span.hide
            Find out more
          About the most dangerous journey in the world 
#tweet_stream
  .container
    .row
      .span4.offset2
        %h2#tweet_stream_title
          People who have sent socks
      .tweet.span4
        =image_tag "twitter_profile_image.jpg", :class=>"twitter_profile_image"
        =link_to "richwells", "#", :class=>"twitter_username"
        I just sent some socks to Mexico and I think you should too
      .tweet.span4
        =image_tag "twitter_profile_image.jpg", :class=>"twitter_profile_image"
        =link_to "matkins", "#", :class=>"twitter_username"
        I just sent some socks to Mexico and I think you should too
      