.container
  .row
    .span12.offset2
      #video_wrapper
        #video.hide
          %iframe{:width => 700,  :height => 395, :src => "http://www.youtube.com/embed/r8WT_ZCUmaY?wmode=opaque&enablejsapi=1&version=3&autohide=1&showinfo=0", :frameborder => 0, :allowfullscreen => true, :allowtransparency => true}
    .span2
      #share_this_wrapper
        #share_this
          %h3 Share
          %h2 this
          %ul.unstyled
            %li=twitter_share
            %li=facebook_share
            %li=google_share

  .row#calls_to_action
    #send_and_buy.span7.offset2    
      %h2#send_your_socks.call_to_action=link_to "Send your socks", "#"
      %h2#buy_some_socks.call_to_action=link_to "Buy some socks", "#"
    .span5
      %h3#find_out_more.call_to_action
        =link_to "#", :id=>"find_out_more_link", do
          %span.hide
            Find out more
          About the most dangerous journey in the world 
#tweet_stream
  .container
    .row
      .span4.offset2
        %h2#tweet_stream_title
          People who have sent socks
      .span4
        %h6 Rich Wells
        I just sent some socks to Mexico and I think you should too
      .span4
        %h6 Rich Wells
        I just sent some socks to Mexico and I think you should too
      