.span8
  %h1 Events
.span2
  =link_to(new_event_path, :id => 'reload-data', :class => "btn btn-primary pull-right") do
    %i.icon-white.icon-plus
    New event
.span10
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th Start
        %th End
        %th Venue
        %th Name
        %th Checkin message
        %th Options
    %tbody
      -@events.each do |event|
        %tr
          %td=event.starts_at.strftime('%H:%M on %a %e %B %G')
          %td=event.ends_at.strftime('%H:%M on %a %e %B %G')
          %td=link_to(event.venue.name,event.venue.fs_url, :target => "_blank")
          %td=event.name
          %td=event.checkin_message
          %td
            =link_to('Edit', edit_event_path(event))
            &nbsp;
            =link_to('Delete',event_path(event), :method => :delete, :confirm => "Are you sure?")
