.span8
  %h1 Events
.span2
  =link_to(new_event_path, :id => 'reload-data', :class => "btn btn-primary pull-right") do
    %i.icon-white.icon-plus
    New event
.span10
  %table.table.table-striped
    %thead
      %tr
        %th Venue
        %th Name
        %th Start
        %th{:colspan => 2} End
    %tbody
      -@events.each do |event|
        %tr
          %td=link_to(event.venue.name,event.venue.fs_url, :target => "_blank")
          %td=event.name
          %td=event.starts_at
          %td=event.ends_at
          %td
            .btn-group.pull-right
              =link_to(edit_event_path(event), :class => "btn") do
                %i.icon-pencil
                Edit
              =link_to(event_path(event), :method => :delete, :confirm => "Are you sure?", :class => "btn") do
                %i.icon-trash
                Delete
