.span4
  %h1 Venues
.span6
  #stats.pull-right
    Updated
    =time_ago_in_words(Venue.order('updated_at DESC').first.updated_at)
    ago 
  
.span10
  %table.table.table-bordered.table-condensed.table-striped
    %thead
      %tr
        %th Name
        %th Category
        %th Address
        %th Verified
        %th Here
    %tbody
      -@venues.each do |venue|
        %tr{:class => "#{'blacklisted' if venue.primary_category.try(:blacklisted)}"}
          %td=link_to(venue.name,venue.fs_url, :target => "_blank")
          %td.categories
            -if venue.primary_category
              =image_tag(venue.primary_category.icon_url)
              =venue.primary_category.name
          %td=venue.address
          %td
            %i{:class => "icon-#{venue.verified ? 'ok' : 'remove'}"}
          %td=venue.here_now
  =will_paginate @venues
