/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require formtastic-bootstrap
 *= require chosen
 *= require_self
*/

.categories img{
  height: 18px;
  width:18px;
  margin-bottom: -5px;
}

#reload-data {
  margin-top:3px;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

body#admin {
  padding-top:50px;
}

#stats {
  padding-top:10px;
}

h1 {
  margin-bottom:5px;
}

#iphone{
  width:396px;
  height:744px;
  position:relative;
  background: url(/assets/iphone.png) no-repeat 0 0;
}

#iphone #first-venue{
  font-size:18px;
  color: #ffffff;
  position:absolute;
  top:346px;
  left:77px;
}
#iphone #other-venues {
  font-size:17px;
  color: #000000;  
  position:absolute;
  top:431px;
  left:77px;
}
#iphone #other-venues li {
  margin-bottom:17px;
}

.categories .blacklisted td:first-child{
  text-decoration: line-through;
}

.categories .category td:first-child{
  font-weight:bold;
}

.categories .sub_category td:first-child{
  padding-left:25px;
}
.categories .sub_sub_category td:first-child{
  padding-left:50px;
  font-style:italic;
}

tr.blacklisted {
  text-decoration: line-through;
  color:#999;
}

tr.blacklisted a{
  color:#84ADC1;
}

.date_time_select select{width:70px;}