/* @override http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
*/

body {


/*  background-color:black;*/
	background: #000 url(/assets/bg.jpg) repeat-x top center;
	color: white;
}

/*========== re-used styles ==========*/
#video, #send_and_buy, #find_out_more a  {
	box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;	
}
.hide {
	display: none;
}


/*========== Header ==========*/

#header {
	margin-bottom: 15px;
}
a#amnesty_logo {
	background: url(/assets/amnesty_logo.png) no-repeat 0 0;
	text-indent: -9000em;
	display: block;
	float: left;
	width: 81px;
	height: 31px;
	margin: 40px 0 0 0;
	
}
#title {
	margin: 40px 0px 20px 82px;
	text-transform: uppercase;
	background: url(/assets/logo.png) no-repeat 0 0;
	display: block;
	text-indent: -9000em;
	float: left;
	width: 380px;
	height: 40px;
}

#language_toggle {
	float: right;
	margin-top: 50px;
}

#language_toggle a {
	padding: 4px 5px;
	border: 2px solid #222;
	color: white;
	font-weight: bold;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

#language_toggle a.active {
	border-color: yellow;
}

/*========== Video ==========*/

#video_wrapper, 
.info_box {
	margin-bottom: 30px;
}
#video_wrapper {
	width:700px;
	height:395px;
}
.info_box {
	padding: 20px;
	height: 355px;
	width: 660px;
	background: #fff;
	color: black;
	position: relative;
}
.info_box .close_info_box {
	position: absolute;
	top: 20px;
	right: 20px;
}

/*========== Share this ==========*/

#share_this {
	margin-top: 20px;
	width: 100px;
	height: 160px;
	background: url(/assets/share_this.png) no-repeat;
	padding: 80px 0 0 20px;
	margin-left: -20px;
}
#share_this li {
	height: 20px;
}
#share_this h2,
#share_this h3 {
	text-transform: uppercase;
	color: white;
	display: none;
}

#share_this h2 {
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 10px;
}

#share_this h3 {
	font-size: 17px;
	line-height: 18px;
}

#share_this ul {
	margin-left: -20px;
	padding: 15px 10px 15px 20px;
}

#share_this ul li {
	margin-bottom: 10px;
}

/*========== Calls to action ==========*/

#calls_to_action {
	margin-bottom: 30px;
}

.call_to_action {
	float: left;
	display: block;

}

h2.call_to_action a {
	float: left;
	display: block;
	text-indent: -9000em;
	background: url(/assets/send_and_buy.png) no-repeat 0 0;
	width: 219px;
	height: 93px;
	
	
	
}
h2#buy_socks a {
	background-position: top right;
	width: 180px;

	
}
h2#buy_socks a:hover {

}
#send_socks {
	
}

#buy_socks h2 {
	font-size: 54px;
	line-height: 38px;
	margin-bottom: 8px;
}

#buy_socks h3 {
	font-size: 22px;
	line-height: 22px;
}
#find_out_more a {
	display: block;
	background: url(/assets/find_out_more.jpg) no-repeat 0 0;
	width: 170px;
	height: 56px;
	padding: 37px 90px 0 20px;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	line-height: 17px;
}
#find_out_more a:hover {
	text-decoration: none;
}
/*========== Send your socks popup ==========*/

#send_socks_info {
	background: #fff url(/assets/send_your_socks.jpg);
	
}
#buy_socks_info {
	background: #fff url(/assets/buy_some_socks.jpg);
	
}
.info_box_title {
  display: none;
}
div.send_socks_info {
  float: left;
  width: 250px;
  margin: 160px 0 0 35px;
}
div.send_socks_info p {
  font-size: 14px;
}

/*========== Twitter stream ==========*/

#tweet_stream {
	background: #57544F url(/assets/tweets_bg.jpg) no-repeat top center;
	padding: 12px 0px 12px;
}

#tweet_stream_title {
	color: #fff;
	text-transform: uppercase;
<<<<<<< HEAD
	margin: 0 0 0 13px;
	text-indent: -9000em;
	height: 80px;
	width: 180px;
	
	background: url(/assets/tweet_stream_title.png) no-repeat 0 -6px;
	
	
}
.tweet {
	margin: 5px 0 0 0;
}
.twitter_profile_image {
	float: left;
	margin: 4px 10px 0 0;
	
}

a.twitter_username {
	color: #fff;
	font-weight: bold;
	
}

/*========== Footer ==========*/

#footer {
	padding-top: 30px;
	padding-bottom: 70px;
	color: #898e8f;
	font-size: 12px;
}
#footer a {
	color: #898e8f;
}
a#amnesty_footer_logo {
	display: block;
	float: left;
	text-indent: -9000em;
	background: url(/assets/amnesty_footer_logo.png) no-repeat 0 0;
	width: 130px;
	height: 50px;
	
	opacity: 0.6;
	
}
a#amnesty_footer_logo:hover {
	opacity: 1;
}
a#yoomee_logo {
	display: block;
	float: left;
	text-indent: -9000em;
	background: url(/assets/yoomee_logo.png) no-repeat 0 0;
	width: 130px;
	height: 50px;
	margin: 6px 0 0;
	
	opacity: 0.6;
	
}
a#yoomee_logo:hover {
	opacity: 1;
=======
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	padding: 0px 30px;
>>>>>>> 75a0b63f77fce2a1e98d0c568a1d676f878da5c4
}
