
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
*/

/*CSS3 magic*/

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade_in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.fade_in {
    -webkit-animation-name: reset, fade_in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}

.fade_in.fade_one {-webkit-animation-delay: 0, 0;}
.fade_in.fade_two {-webkit-animation-delay: 0, 0.3s;}
.fade_in.fade_three {-webkit-animation-delay: 0, 0.6s;}
.fade_in.fade_four {-webkit-animation-delay: 0, 0.9s;}
.fade_in.fade_five {-webkit-animation-delay: 0, 1.2s;}
.fade_in.fade_six {-webkit-animation-delay: 0, 1.5s;}


/*---------   Structure ------------*/

body#home {
  background: #390663;
  color: #fff;
}
#home a {
  color: #ff3399;
}
#home a:hover {
  color: #ccc;
  color: rgba(255,255,255,0.7);
  
  	 -webkit-transition: .1s ease-in;
     -moz-transition: .1s ease-in;
     transition: .1s ease-in;
}
h1#page_title, h2 {
  line-height: 22px;
  margin: 0 0 15px;
}
#home h1,
#home h2,
#home h3,
#home h4,
#home h5,
#home h6 {
  color: #fff;
}

br.clear {
	clear: both;
  
}
ul.lst, ul.lst li {
  list-style-type: none;
  margin: 0;
  float: left;
}
.padding {
  padding: 10px;
}
#main {
  position: relative;
}

#header {
	height: 80px;
	position: fixed;
	z-index: 40;
  
}
.container {
  padding: 0 20px;
}
#logo {
	display: none;
}
a.site_logo {
  float: left;
  margin: 0;
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 20;	
  display: block;
  float: left;
  background: url(/assets/logo.png) no-repeat 0 0;
  text-indent: -9000em;
  width: 180px;
  height: 60px;
  margin: 40px 0 0;
}
#left_nav {
	position: absolute;
	left: 0px;
	top: 170px;
	z-index: 800;
	

	font-size: 19px;
	font-weight: 900;

}
#left_nav li {
  clear: left;
}
#left_nav a {
	padding: 6px 0;
	float: left;
	color: #fff;
  
}
#left_nav a:hover {
  background: none;
}
#left_nav li.active a {
	color: #ff3399;
  
}
.scroll_box {
  height: 900px;
  padding-top: 0px;
  position: relative;
  z-index: 1;

}

div.left_text p {
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 20px;
	font-weight: 200;
}
p.home_paragraph_two {
  float: left;
  width: 230px;
}

.left_text {
	margin-top: 180px;
  	position: relative;
  	z-index: 6;
}

#intro {
	background: url(/assets/home_box.jpg) 50% 0 no-repeat fixed;	

  
}
.scroll_box .bg {
  z-index: 1;
}
.scroll_box .row {
  position: relative;
}
.bg {
	background: url(/assets/stars.png) 50% 0 no-repeat fixed;
	width: 100%;
	height: 1100px;  
	position: absolute;
	top: 0px;
	right: 0;
}
.unicorn_image {
	background: url(/assets/unicorn_image2.jpg) no-repeat 0 0;
	width: 960px;
	height: 500px;  
	position: absolute;
	top: 50px;
	left: 20px;
}

#second {
	background: url(/assets/get_started.png) no-repeat right 0px;
	background: url(/assets/second.jpg) no-repeat right 0px;	
  
}
#stars2 {
  display: block;
  width: 502px;
  height: 424px;
  background:url(/assets/stars2.png) no-repeat;
  position: absolute;
  top: 300px;
  z-index: 5;
  left: 0px;
}
#moon_image {
  display: block;
  width: 222px;
  height: 424px;
  background: url(/assets/moon.png) no-repeat 0 0;
  position: absolute;
  top: 550px;
  z-index: 5;
  left: 100px;
}
#rainbow {
  display: block;
  width: 990px;
  height: 524px;
  background: url(/assets/rainbow.png) no-repeat;
  position: absolute;
  top: 420px;
  z-index: 4;
  left: 0px;
}
.row {
  overflow: normal;
}
span.counter {
	float: left;
	display: block;
	background: #ff3399;
	width: 25px;
	height: 25px;
	line-height: 23px;
	margin: 0 10px 50px 0;
	text-align: center;
	font-weight: bold;
	
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
  
}

#third {
	background: url(/assets/third.jpg) no-repeat right 0px;
  
}

#fourth {
  background: #333 url(/assets/fourth.jpg);
  height: 1000px;
}
li#faq_link a, li#about_link a  {
	font-size: 15px;

  font-weight: normal;
  display: none;}
#top_nav  {
  float: right;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 7;

  padding: 0 10px 10px;

}
.scroll_box h1 {
  margin-bottom: 20px;
}
#second .left_text {
  margin-top: 170px;
}



#top_nav ul li, #top_nav ul {
  float: right;
}
#top_nav a {
  float: right;
  margin: 20px 0 0 15px;
  font-size: 14px;
  background: #000;
  color: #fff;
   padding: 5px 10px;
   font-weight: lighter;
  
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  
  
}
#top_nav a span {
  font-weight: bold;
}
#top_nav a:hover {
  text-decoration: none;
  background-color: #ff359a;
}

#faq_2 {
  margin-top: 215px;
}
/*---------   Footer ------------*/
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 170px;
  background: url(/assets/footer2.png) repeat-x center -40px;
}
#footer_inner {
  position: relative;
}
.footer_box {
	margin-top: 90px;
  
}
.footer_box h2 {
  margin: 0 0 7px;
    font-size: 14px;

  line-height: 18px;
}

.share_buttons {
/*  background: url(/assets/share_buttons.png) no-repeat;
*/  width: 240px;
  height: 20px;
  float: left;
  margin: 0px 0 0;
}

.share_buttons li {
  float:left;
}
#twitter_share { width:95px;}
#facebook_share { width:90px;}
#google_share { width:55px;}
.email_signup_box {
/*  background: url(/assets/email_signup_box.png) no-repeat;*/
  width: 270px;
  height: 30px;
  float: left;
  margin: 0px 0 0;
}

#email_signup_box {
	float: left;
	margin: 0 0 0 60px;
  
}

#app_store_link {
  background: url(/assets/app_store.png) no-repeat;
  text-indent: -9000em;
  width: 175px;
  height: 60px;
  float: left;
  margin:2px 0 0 0px;
  
}
.im_at_sxsw {
  background: url(/assets/im_at_sxsw.png) no-repeat 0px;
  text-indent: -9000em;
  width: 100px;
  height: 200px;
  float: left;
  margin: 0px 0 0 0;
  position: absolute;
	top: 175px;
  right: 40px;
  z-index: 100;
  
}
.footer_box input {
  float: left;
  border-color: #fff;
  margin: 0 5px 0 0;
  width: 190px;
}
.footer_box button.btn {
	background: #ff3399;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border:1px solid #ff3399;
	text-shadow: none;
	float: left;
  
}
.contact_us {
  margin-top: 180px;
  position: relative;
  z-index: 20;
  
}
#yoomee_logo {
  margin: 10px 0 0 0;
}

/*#fourth .left_text a, #fourth .contact_us a {
  color: #f5f5f5;
  border-bottom: 1px solid #555;
}
#fourth .left_text a:hover, #fourth .contact_us a:hover {
  color: #ff359a;
  border-color:#ff359a;
  
  text-decoration: none;
}*/

#footer_links {
	float: left;
	width: 30px;
	margin: 10px 0 0 30px;
  
}

#footer_links a {
  float: left;
  margin: 0px 10px 5px 0px;
  color: #ccc;
  font-weight: bold;

  
}
.left_text p.not_affiliated {
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.3);
}

#fifth {
  background: #000 url(/assets/faq_bg.jpg);
  height: 2000px;
}
