/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
*/

body {
  background-color:black;
  color:white;
}
.hidden {
  display:none;
}

/*========== Header ==========*/

#header {
  background:#222;
  margin-bottom:15px;
}

#title {
  margin:30px 0px;
  text-align:center;
  text-transform:uppercase;
  color:white;
  font-size:24px;
  line-height:29px;
  font-weight:bold;
}

#language_toggle {
  float:right;
  margin-top:20px;
}

#language_toggle a{
  padding:4px 5px;
  border:2px solid #222;
  color:white;
  font-weight:bold;
  border-radius:20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
}

#language_toggle a.active {
  border-color:yellow;
}


/*========== Video ==========*/

#video {
  margin-bottom:15px
}

/*========== Share this ==========*/
#share_this {
  margin-top:40px;
}

#share_this h2,
#share_this h3{
  text-transform:uppercase;
  color:white;
}

#share_this h2{
  font-size:26px;
  line-height:26px;
  margin-bottom:10px;
}

#share_this h3{
  font-size:17px;
  line-height:18px;
}

#share_this ul{
  background:#ccc;
  margin-left:-20px;
  padding:15px 10px 15px 20px;
}

#share_this ul li{
  margin-bottom:10px;
}


/*========== Calls to action ==========*/

#calls_to_action {
  margin-bottom:30px;
}

.call_to_action {
  padding:15px 20px;
  height:70px;
}

.call_to_action h2,
.call_to_action h3 {
  text-transform:uppercase;
  letter-spacing:1px;
}


#send_your_socks { background-color: #FDFC01; }
#send_your_socks h2,
#send_your_socks h3{
  color:black;
}
#send_your_socks h2{
  font-size:44px;
  line-height:44px;
}
#send_your_socks h3{
  font-size:24px;
  line-height:24px;
}

#buy_some_socks { background-color: #7E7E36;}
#buy_some_socks h2,
#buy_some_socks h3{
  color:white;
}
#buy_some_socks h2{
  font-size:54px;
  line-height:38px;
  margin-bottom:8px;
}
#buy_some_socks h3{
  font-size:22px;
  line-height:22px;
}

#find_out_more { background-color: #666;}
#find_out_more h2,
#find_out_more h3{
  color:white;
}
#find_out_more h2{
  font-size:44px;
  line-height:44px;
}
#find_out_more h3{
  font-size:24px;
  line-height:24px;
}


/*========== Twitter stream ==========*/

#tweet_stream {
  background:#57544F;
  padding:10px 0px;
}

#tweet_stream_title{
  color:#fff;
  text-transform:uppercase;
  font-size:24px;
  line-height:24px;
  text-align:center;
  padding:0px 30px;
}



