%tr{:class => category.css_class, :id => "category-#{category.id}"}
  %td
    =image_tag(category.icon_url)
    =category.name
  %td
    -if category.blacklisted
      =link_to "Remove from boring list", unblacklist_category_path(category), :remote => true, :method => :put
    -else
      =link_to "Add to boring list", blacklist_category_path(category), :remote => true, :method => :put