.span8
  %h1 Venue categories
.span10
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th Name
        %th Blacklisted
    %tbody.categories
      -@categories.each do |category|
        =render('categories/category', :category => category)
        -category.sub_categories.each do |sub_category|
          =render('categories/category', :category => sub_category)
          -sub_category.sub_categories.each do |sub_sub_category|
            =render('categories/category', :category => sub_sub_category)