!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Chase the Unicorn
    = csrf_meta_tag
    = favicon_link_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    =yield :head
  %body
    .container
      .row#header
        .span12
          %h1 SXSW UNICORN
    .container
      .row#header
        .span12
          =yield
    .container
      #footer.row
    #fb-root