%html
  %head
    %title What would you take
    = csrf_meta_tag
    = favicon_link_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    =yield :head
  %body
    =sharing_js
    .container
      .row#header
        .span12.offset2
          #title What would you take?
    =yield
    .container
      %footer
        %p &copy; Yoomee 2011
    #fb-root
