!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Chase the unicorn
    = csrf_meta_tag
    = favicon_link_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    =yield :head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29556102-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body#home{:"data-spy"=>"scroll"}
    :javascript
      $(document).ready(function() {
        $.localScroll();
      })
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=198425800257241";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    #main
      .container
        #header.row
          .span10
            %h1#logo
              Chase the Unicorn
              
            #top_nav
              =link_to "http://twitter.com/sxswunicorn", :target=>"_blank", :id=>"twitter_link" do
                Follow on 
                %span twitter
              -if false              
                =link_to "#fifth", :id=>"sxsw_link", :class=>"bg" do
                  Chase at 
                  %span sxsw

                
              =#link_to "Follow on Twitter", "http://twitter.com/sxswunicorn", :target=>"_blank"
              -if false
                %ul.lst.fade_in.fade_two              
                  %li=link_to "Follow on Twitter", "http://twitter.com/sxswunicorn", :target=>"_blank"
                  / %li=link_to "Facebook", "#"
                  / %li=link_to "Contact", "/#contact_box"                
          #left_nav.span2.fade_in.fade_two  
            %ul.nav.lst
              %li=link_to "Home", "#intro"
              %li=link_to "Get started", "#second"
              %li=link_to "Chase!", "#third"
              %li#faq_link=link_to "About", "#fourth"
              %li#about_link=link_to "FAQ", "#fifth"
      #intro.scroll_box.fade_in.fade_three
        .bg
        .container          
          .row    
            .unicorn_image
            =link_to("#fourth") do
              %h2.im_at_sxsw.bg.drop_from_top I'm at sxsw
            .left_text.span4.offset2
              %p
                Ever been at SXSW, taunted by the elusive unicorn sowing its seed of doubt as to whether you’re at
                %br
                the very best party or venue? Tried to chase 
                %br
                the unicorn, foolishly dashing from one
                %br 
                place to the next all night?
              %p.home_paragraph_two
                Well, now there's an app for that. We’ve hunted the unicorn down, and you can now track it too. So relax  and let it magically lead you to the 
                best party in town.
              
      #second.scroll_box.fade_in.fade_four
        .container
          .row
            #stars2
            #moon_image.bg2
            #rainbow.bg3    
            =link_to "Chase the Unicorn", "/#intro", :class=>"site_logo"
            .left_text.span4.offset2
              %h1 Get started          
              %p
                Simply open up the app and the magic will unfold before your very eyes.
              %p.current_location
                %span.counter
                  1 
                Using mysterious algorithms powered by evil trolls, the app will tell you where the unicorn’s currently to be found, and where it’s been previously sighted.
              %p.refresh_link  
                %span.counter
                  2                 
                Simply touch the refresh button to get live updates!         
      #third.scroll_box.fade_in.fade_four
        .bg
        .container
          .row
            =link_to "Chase the Unicorn", "/#intro", :class=>"site_logo"
            .left_text.span4.offset2
              %h1 Chase!         
              %p
                Touch the location to reveal the map and head for where the unicorn’s at. Let the waterfall of tranquility wash over you as you enjoy your evening, safe knowing you’re having a cooler time than everybody else.
              %p  
                Don’t forget to check-in on Foursquare, otherwise it didn’t happen.
      #fourth.scroll_box.fade_in.fade_four
        .contact_swirls.bg
        .container
          .row
            =link_to "Chase the Unicorn", "/#intro", :class=>"site_logo"
            .left_text.span5.offset2
              %h2 About
              %p
                Made by
                =link_to "Yoomee", "http://yoomee.com", :target=>"_blank" 
                in England.              
              %p
                We were planning our visit to the mighty South By South (SXSW) conference in Austin, Texas this year, and musing on the dilemma faced by all SXSW newbies; there’s so much fun to be had, but how do you make sure you’re always at the best venue/party/bar/gig etc? This situation is described by SXSW veterans as akin to chasing the elusive unicorn.
              %p  
                Being geeks with a sense of humour, we thought it would be fun to make an "app for that". In keeping with our Lean Startup approach, we've come up with a very simple MVP (Minimum Viable Product) based on the basic concept. Our goal is to to explore the direction this could go in. We've already got some great ideas for making it into something useful.
              %p  
                Please let us know what you think of the app.
              %p
                Note: This app is not officially affiliated with SXSW and is officially ‘total unofficial’.

            .contact_us.span2
              %h2 Contact us              
              %p
                =link_to "Yoomee", "http://yoomee.com", :target=>"_blank" 
                %br
                Electric Works
                %br
                Sheffield Digital Campus
                %br
                Sheffield S1 2BJ
                %br
                +44 (0) 114 286 6228
                %br
                =link_to "twitter.com/yoomeehq", "http://twitter.com/yoomeehq", :target=>"_blank" 
                %br
                =link_to "facebook.com/yoomeehq", "http://facebook.com/yoomeehq", :target=>"_blank" 
                %br                
                =link_to "unicorn@yoomee.com", "mailto:unicorn@yoomee.com", :target=>"_blank" 
              =link_to "http://yoomee.com", :target=>"_blank" do   
                =image_tag 'yoomee_logo.png', :id=>"yoomee_logo"                                
      #fifth.scroll_box.fade_in.fade_four
        .contact_swirls.bg
        .container
          .row
            =link_to "Chase the Unicorn", "/#intro", :class=>"site_logo"
            .left_text.span4.offset2
              %h2 FAQ
              %p
                Q: Why did you make the app?
                %br
                A: Just for fun. It's an experiment really.
              %p  
                Q: How are you making money from this app?
                %br
                A: We're not. See previous question.
              %p  
                Q: Is this app just for SXSW in Austin, Texas?
                %br
                A: At the moment yes.
              %p  
                Q: Is this app an official SXSW app?
                %br
                A: No. We’re not affiliated with SXSW in any way whatsoever and are officially ‘totally unofficial’.
            #faq_2.left_text.span4    
              %p
                Q: When will the unicorn be live?
                %br
                A: We'll start tracking it from 8 March, when SXSW begins. 
              %p
                Q: How do you know where the unicorn is?
                %br
                A: Using mysterious algorithms powered by evil trolls.
                %br
                (Real answer: Foursquare magic)
              %p  
                Q: I have a great idea! How do I contact you?
                %br
                A: Please email
                =link_to "unicorn@yoomee.com", "mailto:unicorn@yoomee.com", :target=>"_blank"
              %p  
                Q: Will you roll this out in my area?
                %br
                A: Yes, if you tell us where you’d like it.
      
    =#yield
    #footer
      #footer_inner.container
        .row
          #share_this_box.footer_box.span3
            %h2 Share this
            %ul.share_buttons.unstyled
              %li#twitter_share
                :plain
                  <a href="https://twitter.com/share" class="twitter-share-button" data-via="sxswunicorn" data-text="I'm chasing the unicorn" data-hashtags="sxsw">Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              %li#facebook_share
                .fb-like{:"data-href" => "http://chasetheunicorn.com",  :"data-send" => false, :"data-layout" => "button_count", :"data-width"=>"100", :"data-show-faces"=>false}
              %li#google_share
                %div{:class => "g-plusone", :"data-size" => "medium"}
                :javascript
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
            
          .footer_box.span3
            #email_signup_box
              %h2 Tell me when the Unicorn is updated
              .email_signup_box  
                %form.inline-form{:action => "http://yoomee.us4.list-manage1.com/subscribe/post?u=dcc2fe4f7e39b75c1f46f5321&id=5ab708bff3", :method => "post", :target => "_blank"}
                  %input.input-medium{:type => "text", :name => "EMAIL", :value=>"your email"}
                  %button.btn{:type => "submit", :name => "subscribe"}
                    Go 
          .footer_box.span3.offset1
            =link_to "available on the App Store", "http://itunes.apple.com/us/app/chase-the-unicorn/id500708227", :id=>"app_store_link", :target=>"_blank"
            #footer_links      
              =link_to "About", "/#fourth", :id=>"about_link"
              =link_to "FAQ", "/#fifth", :id=>"faq_contact_link"
    #fb-root
