!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Chase the Unicorn
    = csrf_meta_tag
    = favicon_link_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    =yield :head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29556102-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{:"data-spy"=>"scroll"}
    :javascript
      $(document).ready(function() {
        $.localScroll();
      })
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=198425800257241";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    #main
      .container
        #header.row
          .span10
            %h1#logo
              Chase the Unicorn
              
            #top_nav
              =link_to "http://twitter.com/sxswunicorn", :target=>"_blank", :id=>"twitter_link" do
                Follow on 
                %span twitter
              -if false              
                =link_to "#fifth", :id=>"sxsw_link", :target=>"_blank" do
                  Chase at 
                  %span sxsw

                
              =#link_to "Follow on Twitter", "http://twitter.com/sxswunicorn", :target=>"_blank"
              -if false
                %ul.lst.fade_in.fade_two              
                  %li=link_to "Follow on Twitter", "http://twitter.com/sxswunicorn", :target=>"_blank"
                  / %li=link_to "Facebook", "#"
                  / %li=link_to "Contact", "/#contact_box"                
          #left_nav.span2.fade_in.fade_two  
            %ul.nav.lst
              %li=link_to "Home", "#intro"
              %li=link_to "Get started", "#second"
              %li=link_to "Chase!", "#third"
              %li#faq_link=link_to "FAQ & Contact", "#fourth"
      #intro.scroll_box.fade_in.fade_four
        .bg
        .container          
          .row    
            .unicorn_image    
            .left_text.span4.offset2
              %p
                Ever been at SXSW, taunted by the elusive unicorn sowing its seed of doubt as to whether you’re at the very best party or venue? You may well have tried chasing the unicorn, foolishly dashing from
                %br
                one place to the next all night.
              %p.home_paragraph_two
                Well, here’s the answer to your woes. We’ve hunted the unicorn down, and you can now track it too. So relax and let it magically lead you to the best party in town.
      #second.scroll_box.fade_in.fade_four
        .container
          .row
            .iphone_image_1
            =link_to "Chase the Unicorn", "/#intro", :class=>"site_logo"
            .left_text.span4.offset2
              %h1 Get started          
              %p
                Simply open up the app and the magic will unfold before your very eyes.
              %p.current_location
                %span.counter
                  1 
                Using mysterious algorithms powered by evil trolls, the app will tell you where the unicorn’s currently to be found, and where it’s been previously sighted.
              %p.refresh_link  
                %span.counter
                  2                 
                Simply touch the refresh button to get live updates!         
      #third.scroll_box.fade_in.fade_four
        .bg
        .container
          .row
            =link_to "Chase the Unicorn", "/#intro", :class=>"site_logo"
            .left_text.span4.offset2
              %h1 Chase!         
              %p
                Touch the location to reveal the map and head for where the unicorn’s at. Let the waterfall of tranquility wash over you as you enjoy your evening, safe knowing you’re having a cooler time than everybody else.
              %p  
                Don’t forget to check-in on Foursquare, otherwise it didn’t happen.
      #fourth.scroll_box.fade_in.fade_four
        .contact_swirls.bg
        .container
          .row
            =link_to "Chase the Unicorn", "/#intro", :class=>"site_logo"
            .left_text.span4.offset2
              %h2 FAQ
              %p
                Q: Why did you make this app?
                %br
                A: Why not?
              %p  
                Q: Can I ask you another question?
                %br
                A: You just did.            
              %p  
                Q: I have a great idea! How do I contact you.
                %br
                A: Look right &rarr;
      #fifth.scroll_box.fade_in.fade_four
        .contact_swirls.bg
        .container
          .row
            =link_to "Chase the Unicorn", "/#intro", :class=>"site_logo"
            .left_text.span5.offset2
              %h2 About
              %p This is not an official SXSW app and is not affiliated to SXSW inc.
              %p More information coming soon.
            .contact_us.span2
              %h2 Contact us              
              %p
                Yoomee
                %br
                Electric Works
                %br
                Sheffield Digital Campus
                %br
                Sheffield S1 2BJ
                %br
                Tel: +44 (0) 114 286 6228
                %br
                twitter.com/yoomeehq
                %br
                facebook.com/yoomeehq
                %br
                email: unicorn@yoomee.com
              =image_tag 'yoomee_logo.png', :id=>"yoomee_logo"                
      
    =#yield
    #footer
      #footer_inner.container
        .row
          #share_this_box.footer_box.span3
            %h2 Share this
            %ul.share_buttons.unstyled
              %li#twitter_share
                :plain
                  <a href="https://twitter.com/share" class="twitter-share-button" data-via="sxswunicorn" data-text="I'm chasing the unicorn">Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              %li#facebook_share
                .fb-like{:"data-href" => "http://chasetheunicorn.com",  :"data-send" => false, :"data-layout" => "button_count", :"data-width"=>"100", :"data-show-faces"=>false}
              %li#google_share
                %div{:class => "g-plusone", :"data-size" => "medium"}
                :javascript
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
            #footer_links      
              =link_to "About", "/#fifth", :id=>"about_link"
              =link_to "FAQ", "/#fourth", :id=>"faq_contact_link"
            
          .footer_box.span3
            %h2 Tell me when the Unicorn is updated
            .email_signup_box  
              %form.inline-form{:action => "http://yoomee.us4.list-manage1.com/subscribe/post?u=dcc2fe4f7e39b75c1f46f5321&id=5ab708bff3", :method => "post", :target => "_blank"}
                %input.input-medium{:type => "text", :name => "EMAIL", :value=>"your email"}
                %button.btn{:type => "submit", :name => "subscribe"}
                  Go 
          .footer_box.span3.offset1
            =link_to("http://itunes.apple.com/us/app/chase-the-unicorn/id500708227") do
              %h2#free_iphone_app Free iPhone App!
            =link_to "available on the App Store", "http://itunes.apple.com/us/app/chase-the-unicorn/id500708227", :id=>"app_store_link", :target=>"_blank"
    #fb-root
